<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!-- Container -->
  <div class="container-fluid-fixed" style="height: 100vh;">
    <!--First slide-->
    <mdb-slide>
      <div class="view hm-black-light w-100">
        <img class="d-block w-100 img-fluid" style="height: 100vh !important;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="view hm-black-strong w-100">
        <img class="d-block w-100" style="height: 100vh !important;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="view hm-black-slight w-100">
        <img class="d-block w-100" style="height: 100vh !important;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </div>

</mdb-carousel>
<!--/.Carousel Wrapper-->