<section>
  <div class="container-fluid-fixed">
    <div id="powerfull-background">
      <div class="row m-0">
        <div class="w-100 d-flex flex-column align-items-center" style="margin-top: 100px;">
          <header>
            <h2 class="h1-responsive" style="color: #0e1a35; font-weight: 200;">Powerfull PSD Template</h2>
          </header>

          <div class="w-75 text-center mt-4" style="color: #8492af;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
              <br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>

          <div class="container-fluid mt-5">
            <div class="row m-0">
              <div id="mockup-background">
                <div class="pull-left w-50 mockup-body-left">
                  <header class="header-text">
                    <h5 class="h5-responsive" style="font-weight: 900;">Clean & modern layout</h5>
                  </header>

                  <div class="hr-mockup">
                    <div class="hr-circle-mockup pull-right">

                    </div>
                  </div>

                  <p style="width: 232px; line-height: 2rem; color: #8492af;">
                    Lorem ipsum dolor sit, amet consectetur et, adipisicing elit sed due esmodos tempor
                  </p>
                </div>

                <div class="pull-right w-50 text-right mockup-body-right" style="margin-top: 390px;">
                  <header class="header-text">
                    <h5 class="h5-responsive" style="font-weight: 900;">Easy to customize</h5>
                  </header>

                  <div class="hr-mockup ml-auto">
                    <div class="hr-circle-mockup pull-left" style="position: relative; left: -5px;">

                    </div>
                  </div>

                  <p class="pull-right">
                    Lorem ipsum dolor sit, amet consectetur et, adipisicing elit sed due esmodos tempor
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>