<div class="container-fluid-fixed">
  <div class="background w-100 d-flex align-items-center">
    <!--Main Navigation-->
    <header class="w-75 mx-auto">
      <nav class="navbar navbar-expand-lg z-depth-0">
        <span style="color: #8492af;">© 2016 Merkury All Right Reserved</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navbar-nav" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
    <!--Main Navigation-->
  </div>
</div>