<section style="margin-top: 120px;">
  <div class="container-fluid-fixed">
    <div class="background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="drop-section">
              <div class="container">
                <div class="row">
                  <div class="col-6">

                  </div>

                  <div class="col-6">
                    <div class="drag d-flex justify-content-center align-items-center">
                      <span class="h5-responsive" style="color: #ffffff7a;">Drop Here</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="d-flex align-items-center" style="margin-top: 220px;">
              <h2 class="text-white h1-responsive">Drag & Drop</h2>
            </div>

            <div class="mt-2" style="font-size: 0.9rem; width: 60%; color: #ffffff8c;">
              <p class="mt-4 h6-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>

              <p class="mt-3 h6-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            </div>

            <div class="mt-5">
              <span class="mr-3">
                <img class="img-fluid" src="assets/Arrow left.png">
              </span>
              <span>
                <img class="img-fluid" src="assets/Arrow right.png">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>