<section id="home">
  <div class="container-fluid-fixed home-background">
    <div class="container-fluid col-11">
      <app-header></app-header>

      <div class="d-flex align-items-center flex-column">
        <div class="d-flex align-items-center text-white flex-column" style="margin-top: 200px;">
          <h1 class="grow-your-business-text text-center">Grow Your Business With Merkury</h1>
          <p class="partner-crime-text">Your Partner In Crime</p>
        </div>

        <button class="btn btn-get-started btn-primary">Get Started</button>

        <div id="merkury-dashboard">
          <img class="merkury-dashboard-img img-fluid" src="assets/merkury-dashboard.png"/>
        </div>
      </div>
    </div>
  </div>
</section>