<section style="margin-top: 265px;" id="features">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
        <div class="card z-depth-0 text-center w-75 mx-auto">

          <!--Card image-->
          <img class="img-fluid d-block mx-auto" src="assets/Inteligentny obiekt wektorowy.png" alt="Card image cap">

          <!--Card content-->
          <div class="card-body mt-4">
            <!--Title-->
            <h4 class="card-title">
              <strong>Manage Your Workflow</strong>
            </h4>
            <!--Text-->
            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <a href="#" class="btn mt-4 z-depth-0 btn-see-more text-capitalize" mdbRippleRadius>See More</a>
          </div>

        </div>
      </div>

      <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
        <div class="card z-depth-0 text-center w-75 mx-auto">

          <!--Card image-->
          <img class="img-fluid d-block mx-auto" src="assets/AnalyticsAndinsightsLogo.png" alt="Card image cap">

          <!--Card content-->
          <div class="card-body mt-4">
            <!--Title-->
            <h4 class="card-title">
              <strong>Analytics & Insights</strong>
            </h4>
            <!--Text-->
            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <a href="#" class="btn mt-4 z-depth-0 btn-see-more text-capitalize" mdbRippleRadius>See More</a>
          </div>

        </div>
      </div>

      <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
        <div class="card z-depth-0 text-center w-75 mx-auto">

          <!--Card image-->
          <img class="img-fluid d-block mx-auto" src="assets/organizeLogo.png" alt="Card image cap">

          <!--Card content-->
          <div class="card-body mt-4">
            <!--Title-->
            <h4 class="card-title">
              <strong>Organize Your Deadlines</strong>
            </h4>
            <!--Text-->
            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <a href="#" class="btn mt-4 z-depth-0 btn-see-more text-capitalize" mdbRippleRadius>See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>