<div class="container-fluid-fixed" id="pricing">
  <div class="row m-0">
    <div class="pricing-bg-container">
      <header>
        <h2 class="h1-responsive text-center">
          Check our pricing!
        </h2>
      </header>

      <div class="container-fluid">
        <div class="row m-0">

          <!-- Panel Container -->
          <div id="card-container" class="d-flex justify-content-around w-100">
            <!--Panel-->
            <div class="card">
              <div class="card-body text-center">
                <header class="mt-3">
                  <h5 class="card-title text-uppercase">Bronze Plan</h5>
                </header>

                <div class="price text-center">
                  <span class="d-block">
                    <span>
                      <b>$</b>
                      <strong>19</strong>
                      <span>/mon</span>
                    </span>
                  </span>
                </div>

                <div class="features mt-5">
                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/xIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/xIcon.png">
                    </span> Lorem ipsum dolor sit am</p>
                </div>
              </div>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div class="card">
              <div class="card-body text-center">
                <header class="mt-3">
                  <h5 class="card-title text-uppercase">Silver Plan</h5>
                </header>

                <div class="price text-center">
                  <span class="d-block">
                    <span>
                      <b>$</b>
                      <strong>49</strong>
                      <span>/mon</span>
                    </span>
                  </span>
                </div>

                <div class="features mt-5">
                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/xIcon.png">
                    </span> Lorem ipsum dolor sit am</p>
                </div>
              </div>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div class="card">
              <div class="card-body text-center">
                <header class="mt-3">
                  <h5 class="card-title text-uppercase">Gold Plan</h5>
                </header>

                <div class="price text-center">
                  <span class="d-block">
                    <span>
                      <b>$</b>
                      <strong>99</strong>
                      <span>/mon</span>
                    </span>
                  </span>
                </div>

                <div class="features mt-5">
                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>

                  <p class="m-0 mb-3" style="color: #8492af;">
                    <span>
                      <img class="img-fluid mr-2" src="assets/checkIcon.png">
                    </span> Lorem ipsum dolor sit am</p>
                </div>
              </div>
            </div>
            <!--/.Panel-->

          </div>
          <!-- Panel Container -->

          <!-- Join Now -->
          <div id="join-now" class="container" style="margin-top: 105px;">
            <div class="row m-0 w-75 mx-auto">
              <div class="text-center text" style="color: #8492af;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
              </div>

              <div class="d-flex justify-content-center w-100 mt-4 align-items-center">
                <span class="hr-button mr-3"></span>
                <button type="button" class="btn">Join now!</button>
                <span class="hr-button ml-3"></span>
              </div>
            </div>
          </div>
          <!-- Join Now -->
        </div>
      </div>
    </div>
  </div>
</div>