<section>
  <div class="container-fluid-fixed" style="margin-top: 235px;">
    <div class="row m-0">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 p-0">
        <div class="all-you-need-container">
          <article>
            <header>
              <h2 class="all-you-need-text">All You need is a browser!</h2>
            </header>

            <div class="p-container">
              <p class="h6-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>

              <p class="h6-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            </div>

            <div class="text-primary mt-4 check-container">
              <p>
                <i class="fa fa-check-circle-o" style="font-size: 1.1rem" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur.</p>
              <p>
                <i class="fa fa-check-circle-o" style="font-size: 1.1rem" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </article>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 p-0 img-container">
        <img class="img-fluid" src="assets/Grupa2.png" />
      </div>
    </div>
  </div>
</section>